<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="caed-body">
        <h4 class="card-title">New Confirmed</h4>
        <p class="card-text">{{ global_summary.NewConfirmed}}</p>
    </div>
    <div class="caed-body">
        <h4 class="card-title">TotalConfirmed</h4>
        <p class="card-text">{{ global_summary.TotalConfirmed}}</p>
    </div>
    <div class="caed-body">
        <h4 class="card-title">NewDeaths</h4>
        <p class="card-text">{{ global_summary.NewDeaths}}</p>
    </div>
     <div class="caed-body">
        <h4 class="card-title">New Confirmed</h4>
        <p class="card-text">{{ global_summary.NewConfirmed}}</p>
    </div>
     <div class="caed-body">
        <h4 class="card-title">Total Deaths</h4>
        <p class="card-text">{{ global_summary.TotalDeaths}}</p>
    </div>
     <div class="caed-body">
        <h4 class="card-title">New Recovered</h4>
        <p class="card-text">{{ global_summary.NewRecovered}}</p>
    </div>
     <div class="caed-body">
        <h4 class="card-title">Total Recovered</h4>
        <p class="card-text">{{ global_summary.TotalRecovered}}</p>
    </div>
    <table>
        <thead>
        <tr>
             <th>Sno.</th>
             <th>Country</th>
            <th>Total Confirmed</th>
             <th>Total death</th>
             <th>Total Recovered</th>
        </tr>
        </thead>
        <tbody>
        {% for c in countries %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ c.Country}}</td>
            <td>{{ c.TotalConfirmed}}</td>
            <td>{{ c.TotalDeaths}}</td>
            <td>{{ c.TotalRecovered}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>